.nav-link{
    color: black;
}

.nav-link:hover{
    border-bottom: 2px solid #FFB900;
    color: #FFB900;
}

.jumbotron {
    background-size: cover;
    background-position: center;
    height: 500px;
    background-image: url(/assets/Yellow\ Minimalist\ Pet\ Shop\ Site\ Banner\ \(1\).png);
  }

  .btn:hover{
    background-color: #FFB900;
  }
  
